[Desktop Entry]
Categories=Internet
Comment=Silo app for GMail
Exec=silo -a gmail
GenericName=Gmail
Icon=silo-gmail.svg
MimeType=
Name=Gmail
Path=
StartupNotify=true
Terminal=false
Type=Application
