[Desktop Entry]
Categories=Internet;Game;
Comment=Silo app for Google Stadia
Exec=silo -a stadia
GenericName=Google Stadia
Icon=silo-stadia
MimeType=
Name=Google Stadia
Path=
StartupNotify=true
Terminal=false
Type=Application
