[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo apps for the Google office suite (Drive, Documents and Sheets)
Exec=silo -a google-documents
GenericName=Google Documents
Icon=silo-google-documents
MimeType=
Name=Google Documents
Path=
StartupNotify=true
Terminal=false
Type=Application
