[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo apps for the Google office suite (Drive, Documents and Sheets)
Exec=silo -a google-sheets
GenericName=Google Sheets
Icon=silo-google-sheets
MimeType=
Name=Google Sheets
Path=
StartupNotify=true
Terminal=false
Type=Application
