[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo apps for the Google office suite (Drive, Documents and Sheets)
Exec=silo -a google-drive
GenericName=Google Drive
Icon=silo-google-drive
MimeType=
Name=Google Drive
Path=
StartupNotify=true
Terminal=false
Type=Application
