[Desktop Entry]
Categories=Internet;AudioVideo;
Comment=Standalone silo app for YouTube
Exec=silo -a youtube
GenericName=YouTube
Icon=silo-youtube
MimeType=
Name=YouTube
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-youtube
