[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Skype
Exec=silo -a skype
GenericName=Skype
Icon=silo-skype.svg
MimeType=
Name=Skype
Path=
StartupNotify=true
Terminal=false
Type=Application
