[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Hey.com
Exec=silo -a hey
GenericName=Hey
Icon=silo-hey.svg
MimeType=
Name=Hey
Path=
StartupNotify=true
Terminal=false
Type=Application
