[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Google Meet
Exec=silo -a google-meet
GenericName=Google Meet
Icon=silo-google-meet
MimeType=
Name=Google Meet
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-google-meet
