[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Raiplay (Italian national TV public broadcast)
Exec=silo -a raiplay
GenericName=RaiPlay
Icon=silo-raiplay.svg
MimeType=
Name=RaiPlay
Path=
StartupNotify=true
Terminal=false
Type=Application
