[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo app for Todoist (TODO manager)
Exec=silo -a todoist
GenericName=Todoist
Icon=silo-todoist
MimeType=
Name=Todoist
Path=
StartupNotify=true
Terminal=false
Type=Application
