[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo app for Microsoft Office365 suite
Exec=silo -a office365
GenericName=Microsoft® Office 365
Icon=silo-office365
MimeType=
Name=Microsoft® Office 365
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-office365
