[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Wikipedia
Exec=silo -a wikipedia
GenericName=Wikipedia
Icon=silo-wikipedia.svg
MimeType=
Name=Wikipedia
Path=
StartupNotify=true
Terminal=false
Type=Application
