[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Amazon Primevideo
Exec=silo -a primevideo
GenericName=Amazon PrimeVideo
Icon=silo-primevideo.svg
MimeType=
Name=Amazon PrimeVideo
Path=
StartupNotify=true
Terminal=false
Type=Application
