[Desktop Entry]
Categories=Internet;Multimedia;
Comment=Standalone silo app for Amazon Primevideo
Exec=silo -a primevideo
GenericName=PrimeVideo
Icon=silo-primevideo
MimeType=
Name=PrimeVideo
Path=
StartupNotify=true
Terminal=false
Type=Application
