[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Google Maps
Exec=silo -a google-maps
GenericName=Google Maps
Icon=silo-google-maps.svg
MimeType=
Name=Google Maps
Path=
StartupNotify=true
Terminal=false
Type=Application
