[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo app for Overleaf
Exec=silo -a overleaf
GenericName=Overleaf
Icon=silo-overleaf
MimeType=
Name=Overleaf
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-overleaf
