[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo app for Google Keep
Exec=silo -a google-keep
GenericName=Google Keep
Icon=silo-google-keep
MimeType=
Name=Google Keep
Path=
StartupNotify=true
Terminal=false
Type=Application
