[Desktop Entry]
Categories=Internet;Graphics;
Comment=Standalone silo app for Google Photos
Exec=silo -a google-photos
GenericName=Google Photos
Icon=silo-google-photos
MimeType=
Name=Google Photos
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-google-photos
