[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo app for Trello
Exec=silo -a trello
GenericName=Trello
Icon=silo-trello
MimeType=
Name=Trello
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-trello
