[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for VVVVID
Exec=silo -a vvvvid
GenericName=VVVVID
Icon=silo-vvvvid
MimeType=
Name=VVVVID
Path=
StartupNotify=true
Terminal=false
Type=Application
