[Desktop Entry]
Categories=Internet;AudioVideo;
Comment=Standalone silo app for Netflix
Exec=silo -a netflix
GenericName=Netflix
Icon=silo-netflix
MimeType=
Name=Netflix
Path=
StartupNotify=true
Terminal=false
Type=Application
