[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Amazon (US and IT versions)
Exec=silo -a amazon-it
GenericName=Amazon.it
Icon=silo-amazon
MimeType=
Name=Amazon.it
Path=
StartupNotify=true
Terminal=false
Type=Application
