[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for WhatsApp
Exec=silo -a whatsapp
GenericName=WhatsApp Web
Icon=silo-whatsapp
MimeType=
Name=WhatsApp Web
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-whatsapp
