[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Grammarly
Exec=silo -a grammarly
GenericName=Grammarly
Icon=silo-grammarly
MimeType=
Name=Grammarly
Path=
StartupNotify=true
Terminal=false
Type=Application
