[Desktop Entry]
Categories=Internet
Comment=Standalone silo app for Google Scholar
Exec=silo -a google-scholar
GenericName=Google Scholar
Icon=silo-google-scholar
MimeType=
Name=Google Scholar
Path=
StartupNotify=true
Terminal=false
Type=Application
