[Desktop Entry]
Categories=Internet;AudioVideo;
Comment=Standalone silo app for Twitch
Exec=silo -a twitch
GenericName=Twitch
Icon=silo-twitch
MimeType=
Name=Twitch
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-twitch
